/* General Styles */
.nav1 {
  background-color: #4c0000;
  padding: 10px 0;
}

#nav1-head {
  color: #ffc107;
  font-size: 0.9em;
}

.nav2 {
  background-color: #720000;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(243, 243, 243);
  font-size: 1.8em;
  font-weight: bold;
}

.logo-icon {
  margin-right: 8px;
  color: rgb(255, 255, 255);
}

.nav-menu {
  display: flex;
  align-items: center;
}

#menu-item {
  color: #fefefe;
  margin: 0 15px;
  font-size: 1em;
}

#menu-item:hover {
  color: rgb(255, 225, 0);
}

.get-started-form {
  display: flex;
  align-items: center;
}
#user-dropdown {
  color: #ffffff;
}

#user-dropdown:hover {
  color: #ffe100;
}
#get-started-btn {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 20px;
}

#get-started-btn .link-start {
  text-decoration: none;
  color: inherit;
}

#get-started-btn:hover {
  background-color: rgb(255, 208, 0);
  color: brown;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav1-head {
    font-size: 0.8em;
    text-align: center;
  }

  .logo {
    font-size: 1.5em;
  }

  .menu-item {
    margin: 0 10px;
  }

  .get-started-btn {
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
 
  .nav1-head {
    font-size: 0.5em;
    text-align: center;
  }
   .nav2 {
    padding: 10px 0;
  }

  .logo {
    font-size: 1.2em;
  }

  .menu-item {
    font-size: 0.7em;
    margin: 0 5px;
  }

  .get-started-btn {
    font-size: 0.85em;
    padding: 5px 10px;
  }
}


