/* General Styling */
.editprofile-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 2s ease;
  overflow-y: auto;
  z-index: 10;
}

/* Set transform to 0 when open to ensure it shows fully */
.editprofile-container.open {
  transform: translateX(0);
  left: 0;
}
.edit-head{
  color: #333;
  padding: 20px 0;
  text-align: center;
}
.editform {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editform label {
  font-size: 1rem;
  color: #333;
}

.editform input[type="text"],
.editform input[type="email"],
.editform input[type="password"],
.editform input[type="file"] {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .editprofile-container {
    width: 100%;
  }

  .editform {
    padding: 1.5rem;
  }
}

@media (max-width: 576px) {
  .editform input[type="text"],
  .editform input[type="email"],
  .editform input[type="password"],
  .editform input[type="file"] {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .button-container {
    margin-top: 0.5rem;
  }
}
