.editRecipe-container {
    position: fixed;
    top: 0;
    left: -100%; /* Initially hidden on the left */
    width: 700px;
    height: 100%;
    background-color: white;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }
  
  /* Visible state: slide in from left */
  .editRecipe-container.open {
    left: 0; /* Moves it into view */
  }
  #recipelabel{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: black;
    margin: 8px 0px;
  }
#recipeinput{
    color: black;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 5px;
    width: 100%;
}
#recipeimage{
    border: none;
    padding: 0px;
    border-radius: 0px;
    color: black;
}
