/* General section styling */
.details-sec {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fbb400;
}

/* Centering the card container */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Full recipe card styling */
.fullrecipe-card {
    width: 60rem;
    margin-bottom: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.538);
    padding: 30px;
}

/* Image styling */
.image-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.recipe1-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

/* Title styling */
#recipedetails-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #00960f;
}

/* Text and labels styling */
.fullrecipe-card h5 {
    font-weight: bold;
    margin-top: 10px;
    color: #3b3b3b;
}

.fullrecipe-card p {
    margin-bottom: 10px;
    color: #666;
}

/* Recipe owner text alignment */
.recipe-owner {
    text-align: right;
    font-style: italic;
    color: #919191;
}

/* Button styling */
.editdetails-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 50%;
    color: #333;
    border-color: #333;
}

/* Responsive Design */
@media (max-width: 992px) {
    .fullrecipe-card {
        width: 90%;
        padding: 20px;
    }

    .recipe-image {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #recipedetails-title {
        font-size: 1.5em;
    }

    .editdetails-btn {
        width: 70%;
    }

    .fullrecipe-card {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 576px) {
    #recipedetails-title {
        font-size: 1.3em;
    }

    .editdetails-btn {
        width: 80%;
    }
    .fullrecipe-card {
        width: 98%;
        padding: 10px;
    }
}
