.box{
    height: 50vh;
    width:100%;
    background-color: rgb(254, 182, 0);
    color: rgb(165, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    padding-top: 150px;
    font-weight: bold;
}